.login-container {
  background-color: rgb(252, 252, 245);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 50%;
    background-color: rgb(190, 190, 190);
    border-radius: 5%;

    .login-logo {
      margin-bottom: 20px;
      img {
        width: 40%;
        height: auto;
      }
    }

    .login-inputs {
      width: 70%;

      .form-inputs {
        width: 100%;
        input[type="email"],
        input[type="password"] {
          border: none;
          background-color: #ffffff00;
          border-bottom: 1px solid #111111;
        }
        .email-inputs {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
        }

        .password-inputs {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}
